<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-BlackItalic.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-BoldItalic.ttf</string>
		<string>SourceSansPro-ExtaLight.ttf</string>
		<string>SourceSansPro-ExtaLightItalic.ttf</string>
		<string>SourceSansPro-Italic.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-LightItalic.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
